pipeline/02_ForEach.json
{
	"name": "02_ForEach",
	"properties": {
		"activities": [
			{
				"name": "ForEach File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get FileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileNames').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append FileName",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FinalList",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Print output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Output",
					"value": {
						"value": "@variables('FinalList')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get FileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_adf_container_user_profiles_raw_specific",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"FinalList": {
				"type": "Array"
			},
			"Output": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Control Flow Activities/For Each"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-17T07:52:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}