pipeline/Trigger ADB Notebook.json
{
	"name": "Trigger ADB Notebook",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/ey-training/Trigger Notebook",
					"baseParameters": {
						"input": "10"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Output",
					"value": {
						"value": "@activity('Notebook1').output.runOutput",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Output": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-21T06:36:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}